<div class="col-sm-8 col-sm_offset-2">
  <h4>Publier un nouveau Post</h4>
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="Titre">Titre</label>
      <input type="text" id="titre" class="form-control" formControlName="titre">
    </div>
    <div class="form-group">
      <label for="Contenu">Contenu</label>
      <input type="text" id="contenu" class="form-control" formControlName="contenu">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Publier</button>
  </form>
</div>
